
// Colors
$c_grey: #3B4460;
$c_grey_02: rgba(59, 68, 96, .2);
$c_grey_08: rgba(59, 68, 96, .8);
$c_grey_secondary: #666F8C;
$c_grey_secondary_02: rgba(102, 111, 140, .2);

$body-bg: linear-gradient(135deg, #FAF5FF, #EEF7FF);
$body-color: $c_grey;

$c-gradient-one: #FF00C7;
$c-gradient-two: #0E9BFC;